body{
  font-family:calibri;
}
.fundo  {
  width:99%;
  background-color:rgb(206, 206, 206);
margin:25px 1px 25px 1px;
border-radius:3px;



}
h1  {
  text-align:center;
  padding-top:50px;
}
p{
  padding:5px;
  font-weight:lighter;
  text-align:center;
}
figcaption  {
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  
}
img {
  margin:0px auto;
    max-width: 80%;
    min-width:300px;
   text-align:center;
  display:block;
}

h2  {
  text-align:center;
  padding-top:30px;
  padding-bottom:30px;
}
li  {
    padding:5px;
    
}
blockquote  {
  font-weight:lighter;
  text-align:center;
}